<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <li th:fragment="dirNode(node)" class="tree-dir" th:data-path="${node.path}" th:data-name="${node.name}">
    <button class="tree-toggle" type="button" draggable="true">
      <span class="tree-caret" aria-hidden="true"></span>
      <span class="tree-label" th:text="${node.name}">name</span>
      <span class="tree-count" th:text="${node.articleCount}"
            th:title="|${node.articleCount} documents|">0</span>
    </button>
    <ul class="tree">
      <th:block th:each="child : ${node.children}">
        <th:block th:replace="~{fragments/tree :: dirNode(${child})}"></th:block>
      </th:block>
      <li class="tree-file" th:each="link : ${node.articles}"
          th:classappend="${link.openable} ? '' : ' is-static'"
          th:data-url="${link.openable} ? ${link.url} : null"
          th:data-path="${link.path}" th:data-name="${link.title}">
        <a th:if="${link.openable}" th:href="${link.url}" th:text="${link.title}" draggable="true">title</a>
        <a th:unless="${link.openable}" class="tree-file-static" th:href="${link.url}"
           th:text="${link.title}" download>title</a>
      </li>
    </ul>
  </li>
</body>
</html>
